body {
  background-color: #105652;
  /* font-family: 'Architects Daughter', cursive;
  font-family: 'Bungee', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Press Start 2P', cursive; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Secular One', sans-serif; */
  font-family: 'Varela Round', sans-serif;
}

h1 {
  margin: 12px;
}

.container p {
  font-size: 18px;
}

.container {
  background-color: #DFD8CA;
  border-radius: 6px;
}

#draw-names-container {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center;
  justify-content: center; */
}


#names-in-hat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}


#display-drawn-name {
  font-size: 40px;
  font-weight: bold;
  color: #1E3163;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: #FBF3E4;
  margin-bottom: 18px;
}

/* #already-finished-container {
  background-color: #FBF3E4;
} */




#random-order-output, #random-teams-output, #already-finished-container {
  background-color: #FBF3E4;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  border-radius: 6px;
}






.time-holder {
/* display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center; */
}

.time-container {
  display: flex;
  /* flex-wrap: row; */
  /* width: 600px; */
  align-items: center;
  justify-content: center;
}

.digits-container p {
  margin: 24px;
  font-weight: bold;
  font-size: 60px;
}

.digits-container h3 {
  margin-left: 32px;
  margin-right: 32px;
}


.time {
  height: 80px;
  font-size: 60px;
  font-weight: bold;
  /* background-color: #FBF3E4; */
  width: 140px;
  padding: 12px;
  text-align: center;
}

.timer-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn, .btn:focus {
  background-color:#B91646;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 25px;
	padding: 10px 15px;
  margin: 10px;
}

.btn:hover {
    background-color:#B91646;
    opacity: 0.6;
}






.footer {
  margin: 30px;
}



/* @media (min-width: 800px) {
  .tabs-bar {
    display: inline-flex;
    justify-content: space-evenly;
  }
} */


.tabs-bar {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* width: 1200px; */
  /* height: 150px; */
  font-size: 28px;
  color: rgb(204, 19, 19);
  padding: 12px;
  margin: 12px;
}

.switched-on {
  background-color: #B91646;
}
.switched-off {
  background-color: none;
}

.top-tab {
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 50px;
  font-weight: bold;
  color: #FBF3E4;
  border: 2px solid #FBF3E4;
  /* width: 400px; */
  /* background-color: #B91646; */
  line-height: 1.5;
  /* display: 'block'; */
}

.top-tab:hover {
  color: #FBF3E4;
  cursor: pointer;
  opacity: 0.7;
  background-color: #B91646;
}

/* .top-tab.active {
  background-color: #B91646;
} */



















/* .radio-tabs {
  display: none;
  margin: 24px;
} */

/* .tab-content {
  order: 1;
  border-bottom: 3px solid #dddddd;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
} */


/* .radio-tabs:checked + .tabs-label {
  font-weight: bold;
  color: #FBF3E4;
  border: 2px solid #FBF3E4;
  background-color: #B91646;
} */

/* .radio-tabs:checked + .tabs-label + .tab-content {
  display: initial;
} */
