:root {
  --background-color: #536E93;
  --container-color: #2C4969;
  --outputs-color: white;
  --display-drawn-name: white;
  --display-name-text: #2C4969;
  --buttons-color: #fab300;
  --buttons-text: white;
  --buttons-border: none;
  --h3-color: white;
}





body {
  background-color: var(--background-color);
  /* font-family: 'Architects Daughter', cursive;
  /* font-family: 'Bungee', cursive; */
  /* font-family: 'Indie Flower', cursive; */
  /* font-family: 'Montserrat', sans-serif;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Press Start 2P', cursive;  */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Secular One', sans-serif; */
  font-family: 'Varela Round', sans-serif;
}

h3 {
  margin: 18px;
  color: var(--h3-color);
}

.container p {
  font-size: 18px;
}

.container {
  background-color: var(--container-color);
  border-radius: 50px;
  border: none !important;
  /* border: 12px solid black; */
  min-width: 600px;
}

#draw-names-container {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center;
  justify-content: center; */

}

textarea {
  font-size: 24px;
}

#names-in-hat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}


#display-drawn-name {
  font-size: 48px;
  font-weight: bold;
  color: var(--display-name-text);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: var(--display-drawn-name);
  margin-bottom: 18px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

/* #already-finished-container {
  background-color: #FBF3E4;
} */




#random-order-output, #random-teams-output, #already-finished-container, #names-for-hat, #random-names, #student-names, #students-per-team {
  background-color: var(--outputs-color);
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  border-radius: 6px;
  margin: 12px;
}





.time-holder {
/* display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center; */
}

.time-container {
  display: flex;
  /* flex-wrap: row; */
  /* width: 600px; */
  align-items: center;
  justify-content: center;
}

.digits-container p {
  margin: 24px;
  font-weight: bold;
  font-size: 60px;
  color: var(--h3-color);
}

.digits-container h3 {
  margin-left: 32px;
  margin-right: 32px;
  color: var(--h3-color);
}


.time {
  height: 80px;
  font-size: 60px;
  font-weight: bold;
  /* background-color: #FBF3E4; */
  width: 140px;
  padding: 12px;
  text-align: center;
}

.timer-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn, .btn:focus {
  background-color: var(--buttons-color);
  color: var(--buttons-text);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 25px;
	padding: 10px 15px;
  margin: 10px;
}

.btn:hover {
    background-color: var(--buttons-color);
    opacity: 0.7;
    color: var(--buttons-text);
}






.footer {
  margin: 30px;
}



/* @media (min-width: 800px) {
  .tabs-bar {
    display: inline-flex;
    justify-content: space-evenly;
  }
} */


.tabs-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* width: 1200px; */
  /* height: 150px; */
  font-size: 32px;
  color: var(--buttons-text);
  padding: 12px;
  margin: 12px;
}

.switched-on {
  background-color: var(--buttons-color);
  color: var(--buttons-text);

}
.switched-off {
  background-color: none;
}

.top-tab {
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 50px;
  font-weight: bold;
  color: var(--buttons-text);
  border: 2px solid var(--buttons-border);
  /* width: 400px; */
  /* background-color: #B91646; */
  line-height: 1.5;
  /* display: 'block'; */
}

.top-tab:hover {
  color: var(--buttons-text);
  cursor: pointer;
  opacity: 0.7;
  background-color: var(--buttons-color);
}

/* .top-tab.active {
  background-color: #B91646;
} */



















/* .radio-tabs {
  display: none;
  margin: 24px;
} */

/* .tab-content {
  order: 1;
  border-bottom: 3px solid #dddddd;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
} */


/* .radio-tabs:checked + .tabs-label {
  font-weight: bold;
  color: #FBF3E4;
  border: 2px solid #FBF3E4;
  background-color: #B91646;
} */

/* .radio-tabs:checked + .tabs-label + .tab-content {
  display: initial;
} */
